# Initiate and configure Spark Session and Context

In [28]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.driver.memory", "12g")\
    .appName("review_city_neighbourhood") \
    .getOrCreate()

sc = spark.sparkContext

print("Using Apache Spark Version", spark.version)
web_ui_url = sc.uiWebUrl
print(f"Spark UI is available at: {web_ui_url}")

Using Apache Spark Version 3.5.1
Spark UI is available at: http://10.206.45.59:4041

# Read CSV into Spark Dataframe

In [29]:
listings = spark.read.option("header", "true") \
                   .option("delimiter", ",") \
                   .option("inferSchema", "true") \
                   .option("multiLine", "true")\
                   .option("escape", "\"")\
                   .csv("/Users/isbdrr/Documents/Columbia_SchoolWork/Spring_2024/Managing_Data/final_project/DM_Temp/listings.csv")
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: double (nullable = true)
 |-- host_total_listings_count: double (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- beds: double (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: double (nullable = true)
 |-- maximum_minimum_nights: double (nullable = true)
 |-- minimum_maximum_nights: double (nullable = true)
 |-- maximum_maximum_nights: double (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- data_date: date (nullable = true)

In [3]:
# calendar = spark.read.option("header", "true") \
#                    .option("delimiter", ",") \
#                    .option("inferSchema", "true") \
#                    .option("multiLine", "true")\
#                    .option("escape", "\"")\
#                    .csv("../Data/calendar.csv")
# calendar = calendar.drop(*['minimum_nights','maximum_nights'])
# #calendar.show()
# calendar.printSchema()

**city**

In [30]:
listings.createOrReplaceTempView('listings')
# calendar.createOrReplaceTempView('calendar')
city_query = '''
SELECT
    l.city,
    l.state,
    COUNT(DISTINCT l.id) AS total_listings
FROM listings l
GROUP BY 
    l.city
    ,l.state
-- ORDER BY l.city
'''

result_city = spark.sql(city_query)

In [31]:
import pandas
result_city.limit(5).toPandas()

             city state  total_listings
0       nashville    tn            8850
1  broward-county    fl           18230
2   new-york-city    ny           39202
3          boston    ma            4204
4          austin    tx           15419

**neighborhood**

In [32]:
# listings.createOrReplaceTempView('listings')
# calendar.createOrReplaceTempView('calendar')

neighbourhood_query = '''
SELECT
    l.neighbourhood_cleansed,
    l.city,
    l.state,
    COUNT(DISTINCT l.id) AS total_listings
FROM listings l
where l.neighbourhood_cleansed is not NULL
GROUP BY
    l.neighbourhood_cleansed,
    l.city,
    l.state
'''

result_neighbourhood = spark.sql(neighbourhood_query)

In [33]:
result_neighbourhood.limit(5).toPandas()

  neighbourhood_cleansed           city state  total_listings
0         Woodland Hills    los-angeles    ca             525
1               Kips Bay  new-york-city    ny             417
2           Upper Laurel        oakland    ca              28
3               Overlook       portland    or             122
4       Lake Los Angeles    los-angeles    ca              10

# Insert into Database
- neighbourhood to PostgreSQL table "neighbourhood"
- city to Postgresql table "city"

In [34]:
import pandas as pd
from sqlalchemy import create_engine

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/airbnb'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

# Define JDBC properties
jdbc_properties = {
    "user": "postgres",
    "password": "123",  
    "driver": "org.postgresql.Driver"}

In [35]:
ddl_city = """
CREATE TABLE city (
    city VARCHAR(255),
    state VARCHAR(10), 
    total_listings INT,
    PRIMARY KEY (city, state) 
);
"""
connection.execute(ddl_city)

In [36]:
city_pd = result_city.toPandas()

In [37]:
city_pd.to_sql(name='city', con=engine, if_exists='append', index=False)

34

In [38]:
ddl_neighbourhood = """
CREATE TABLE neighbourhood (
    neighbourhood_cleansed VARCHAR(255),
    city VARCHAR(255), 
    state VARCHAR(10),
    total_listings INT, 
    PRIMARY KEY (state,city, neighbourhood_cleansed), 
    FOREIGN KEY (city, state) REFERENCES city(city, state)
);
"""
connection.execute(ddl_neighbourhood)

In [39]:
neighbourhood_pd = result_neighbourhood.toPandas()

In [40]:
neighbourhood_pd.to_sql(name='neighbourhood', con=engine, if_exists='append', index=False)

573