In [1]:
# import os
# import sys
# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable
import pandas as pd
# from sqlalchemy import create_engine
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

#### Setup

In [93]:
# os.environ['PYSPARK_PYTHON']

'/Users/isbdrr/anaconda3/bin/python'

In [94]:
# os.environ['PYSPARK_DRIVER_PYTHON']

'/Users/isbdrr/anaconda3/bin/python'

**Initiate and configure Spark Session and Context**

In [2]:
# Specify the path to the JDBC driver JAR
# jdbc_jar_path = "postgresql://postgres:123@localhost:5432/airbnb"  

# spark = SparkSession \
#     .builder \
#     .appName("Intro to Apache Spark") \
#     .config("spark.cores.max", "4") \
#     .config('spark.executor.memory', '8G') \
#     .config('spark.driver.maxResultSize', '8g') \
#     .config('spark.kryoserializer.buffer.max', '512m') \
#     .config("spark.jars", jdbc_jar_path) \
#     .config("spark.driver.cores", "4") \
#     .getOrCreate()

# running local spark
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.driver.memory", "12g")\
    .appName("neighborhoods_and_city") \
    .getOrCreate()

sc = spark.sparkContext

print("Using Apache Spark Version", spark.version)
web_ui_url = sc.uiWebUrl
print(f"Spark UI is available at: {web_ui_url}")

24/04/27 17:01:00 WARN Utils: Your hostname, Kun-Mac.local resolves to a loopback address: 127.0.0.1; using 10.206.101.44 instead (on interface en0)
24/04/27 17:01:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/27 17:01:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Using Apache Spark Version 3.5.0
Spark UI is available at: http://10.206.101.44:4040

In [3]:
listings = spark.read.option("header", "true") \
                   .option("delimiter", ",") \
                   .option("inferSchema", "true") \
                   .option("multiLine", "true")\
                   .option("escape", "\"")\
                   .csv("../Data/listings.csv")
#listing.show()
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: double (nullable = true)
 |-- host_total_listings_count: double (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- beds: double (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: double (nullable = true)
 |-- maximum_minimum_nights: double (nullable = true)
 |-- minimum_maximum_nights: double (nullable = true)
 |-- maximum_maximum_nights: double (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)
 |-- state: string (nullable = true)
 |-- city: string (nullable = true)
 |-- data_date: date (nullable = true)

Split the tables into host and property tables

In [4]:
# Host DataFrame
host_columns = [
    'host_id', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time',
    'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
    'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications',
    'host_identity_verified','calculated_host_listings_count',
    'last_scraped'
]

host_df = listings.select(host_columns)  # Ensure unique hosts

# Property DataFrame
property_columns = [
    'id','host_id', 'last_scraped', 'source', 'name', 'description','neighbourhood_cleansed', 'neighbourhood_group_cleansed', 
    'latitude', 'longitude', 'property_type',
    'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'price', 'minimum_nights', 
    'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights',
    'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60',
    'availability_90', 'availability_365', 'number_of_reviews', 'number_of_reviews_ltm', 
    'number_of_reviews_l30d', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness',
    'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license',
    'reviews_per_month'
]

property_df = listings.select(property_columns).distinct()    # Ensure unique data

## host table ETL process

In [5]:
# ensure unique host_id in host table
host_df.createOrReplaceTempView('host_to_be_processed')

host_etl = '''
with table as(
    select
        *
        ,row_number() OVER (PARTITION BY host_id order by last_scraped desc) rnk
    from host_to_be_processed
)
select
    *
from table
where rnk=1
'''

host_result = spark.sql(host_etl)
host_result.limit(10).toPandas()

24/04/27 17:01:05 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_identity_verified,calculated_host_listings_count,last_scraped,rnk
0,796,Betty,2008-07-12,"Austin, TX",Welcome to Austin and to my home. I’m a freque...,within an hour,100%,65%,t,Austins' Colony,1.0,1.0,"['email', 'phone']",t,1,2023-12-16,1
1,1618,Elaine,2008-08-08,"Portland, OR",A little about me:\r\nI a young professional f...,within a few hours,100%,92%,f,Cole,6.0,9.0,"['email', 'phone', 'work_email']",t,4,2023-12-20,1
2,2971,Donald,2008-09-15,"Hakalau, HI",None,within an hour,100%,100%,t,None,1.0,5.0,"['email', 'phone']",t,1,2023-12-16,1
3,3008,Chas.,2008-09-16,"Los Angeles, CA",Professional and technical writer.\nLiterary C...,None,None,100%,t,Hollywood,2.0,3.0,"['email', 'phone']",t,2,2023-12-04,1
4,4396,Casey,2008-11-19,"New York, NY",I work as a freelance photographer and founded...,within a few hours,100%,91%,t,Alphabet City,3.0,4.0,"['email', 'phone']",t,2,2024-02-06,1
5,4957,A.J.,2008-12-10,"Washington, DC","Cordial, considerate host who keeps out of the...",None,None,100%,f,Northwest Washington,1.0,4.0,"['email', 'phone']",f,1,2023-12-18,1
6,5061,Sandra,2008-12-12,"Washington D.C., DC",I’m a California native who came to work for t...,within an hour,100%,100%,t,Capitol Hill,2.0,2.0,"['email', 'phone']",t,2,2023-12-18,1
7,5482,Gabriel,2008-12-23,"Topanga, CA","A family man in Topanga, California.",None,None,50%,f,Old Topanga,2.0,2.0,"['email', 'work_email']",f,1,2023-12-04,1
8,5803,Bertina,2008-12-30,"Washington, DC",I am a retried teacher. I enjoy walking and wa...,None,None,None,f,Eastland Gardens,4.0,4.0,"['email', 'phone']",t,2,2023-12-18,1
9,6664,Aaron,2009-01-15,"Washington, DC","Washington, DC",None,None,None,f,None,1.0,2.0,"['email', 'phone']",t,1,2023-12-18,1

## property table ETL Process
#### Fix Price

In [6]:
property_df = property_df.withColumn(
    "price",
    F.regexp_replace(property_df["price"], r"[^0-9.]", "")
)

In [7]:
property_df.select("price").show(5)

24/04/27 17:01:11 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

+------+
| price|
+------+
|113.00|
| 95.00|
| 43.00|
|165.00|
|314.00|
+------+

In [8]:
# columns_to_remove = [
#     "review_scores_accuracy", "review_scores_cleanliness", "review_scores_checkin",
#     "review_scores_communication", "review_scores_location", "review_scores_value"
# ]
# 
# property_df = property_df.drop(*columns_to_remove)

property_df.show(10)

+------------------+---------+------------+---------------+--------------------+-----------+----------------------+----------------------------+--------+---------+--------------------+---------------+------------+---------+--------+----+-------+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+-----------------+---------------------+----------------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+-----------------+
|                id|  host_id|last_scraped|         source|                name|description|neighbourhood_cleansed|neighbourhood_group_cleansed|latitude|longitude|       property_type|      room_type|accommodates|bathrooms|bedrooms|beds|  price|minimum_nights|maximum_nights|minimum_minimum_nights|maximum_minimum_nights|minimum_maximum_nights|maximum_maximum_nights|minimum_nights_avg_ntm|maximum_nights_avg_ntm|calendar_updated|has_availability|availability_30|availability_60|availability_90|availability_365|number_of_reviews|number_of_reviews_ltm|number_of_reviews_l30d|review_scores_rating|review_scores_accuracy|review_scores_cleanliness|review_scores_checkin|review_scores_communication|review_scores_location|review_scores_value|license|reviews_per_month|
+------------------+---------+------------+---------------+--------------------+-----------+----------------------+----------------------------+--------+---------+--------------------+---------------+------------+---------+--------+----+-------+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+-----------------+---------------------+----------------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+-----------------+
|634108143238179968|119340359|  2024-01-06|    city scrape|Rental unit in Al...|       NULL|            SIXTH WARD|                        NULL|42.65323|-73.76797|  Entire rental unit|Entire home/apt|           7|     NULL|    NULL| 3.0| 113.00|             2|            30|                   1.0|                   3.0|                1125.0|                1125.0|                   2.7|                1125.0|            NULL|               t|             16|             46|             76|             131|               74|                   43|                     0|                4.96|                  4.96|                      5.0|                 4.99|                        5.0|                  4.81|               4.92|   NULL|             3.82|
|          32993402| 44434571|  2024-01-06|    city scrape|Rental unit in Al...|       NULL|           SECOND WARD|                        NULL|42.64563|-73.75311|  Entire rental unit|Entire home/apt|           6|     NULL|    NULL| 2.0|  95.00|             1|            28|                   1.0|                   4.0|                1125.0|                1125.0|                   2.4|                1125.0|            NULL|               t|              0|              0|              0|             196|              404|                   39|                     3|                4.67|                  4.76|                     4.67|                 4.75|                       4.81|                  4.65|               4.68|   NULL|             6.91|
|           3314819| 16296123|  2023-12-18|    city scrape|Home in Asheville...|       NULL|                 28803|                        NULL|35.49233|-82.51495|Private room in home|   Private room|           3|     NULL|    NULL| 1.0|  43.00|             1|             7|                   1.0|                   1.0|                1125.0|                1125.0|                   1.0|                1125.0|            NULL|               t|              8|             34|             64|              64|             1275|                  142|                     9|                4.76|                   4.9|                     4.77|                 4.93|                       4.87|                  4.81|               4.88|   NULL|            11.04|
|          14522467| 89749383|  2023-12-19|    city scrape|Bungalow in Woodf...|       NULL|                 28804|                        NULL|35.62199|-82.57446|     Entire bungalow|Entire home/apt|           4|     NULL|    NULL| 2.0| 165.00|             2|          1125|                   2.0|                   2.0|                1125.0|                1125.0|                   2.0|                1125.0|            NULL|               t|              0|              0|              0|               0|              228|                   25|                     3|                4.98|                  4.98|                     4.97|                 4.99|                       4.99|                  4.84|               4.92|   NULL|             2.57|
|          23748903|175871539|  2023-12-18|previous scrape|Bed and breakfast...|       NULL|                 28801|                        NULL|35.60704|-82.56453|Room in bed and b...|     Hotel room|           2|     NULL|    NULL| 1.0| 314.00|             1|           365|                   1.0|                   1.0|                 365.0|                 365.0|                   1.0|                 365.0|            NULL|               t|              0|              0|              0|               0|               14|                    0|                     0|                4.93|                  4.93|                      5.0|                  5.0|                        5.0|                   5.0|               4.93|   NULL|             0.21|
|          23978319|  6262856|  2023-12-18|previous scrape|Rental unit in As...|       NULL|                 28801|                        NULL|35.61242|-82.55195|  Entire rental unit|Entire home/apt|           2|     NULL|    NULL| 1.0|   NULL|             3|           365|                   3.0|                   3.0|                1125.0|                1125.0|                   3.0|                1125.0|            NULL|            NULL|              0|              0|              0|               0|               99|                    0|                     0|                 5.0|                   5.0|                      5.0|                 4.99|                        5.0|                  4.96|               4.92|   NULL|             1.45|
|          28960407| 29763476|  2023-12-18|    city scrape|Rental unit in As...|       NULL|                 28804|                        NULL|35.65015|-82.54702|  Entire rental unit|Entire home/apt|           3|     NULL|    NULL| 2.0| 201.00|             2|          1125|                   2.0|                   2.0|                1125.0|                1125.0|                   2.0|                1125.0|            NULL|               t|              0|              0|              0|               0|              135|                   10|                     0|                 5.0|                   5.0|                     4.99|                 4.99|                        5.0|                  4.99|               4.95|   NULL|             2.16|
|          30766159|230209704|  2023-12-18|    city scrape|Home in Asheville...|       NULL|                 28803|                        NULL|35.50554|-82.48642|         Entire home|Entire home/apt|          16|     NULL|    NULL|10.0|1275.00|             3|          1125|                   2.0|                   5.0|                1125.0|                1125.0|                   2.8|                1125.0|            NULL|               t|             16|             46|             72|             313|               62|                   14|                     1|                4.94|                  4.92|                     4.97|                 4.98|                       4.92|                  4.82|               4.77|   NULL|              1.1|
|          34753899| 32443912|  2023-12-18|    city scrape|Guest suite in As...|       NULL|                 28806|                        NULL|35.57681|-82.59681|  Entire guest suite|Entire home/apt|           4|     NULL|    NULL| 2.0|  96.00|             2|            15|                   1.0|                   2.0|                1125.0|                1125.0|                   1.3|                1125.0|            NULL|               t|              0|              0|              0|               0|              171|                   44|                     2|                4.99|                   5.0|                     4.99|                 4.99|                       4.99|                  4.98|               4.97|   NULL|             5.38|
|          37417990|207357894|  2023-12-18|    city scrape|Condo in Ashevill...|       NULL|                 28801|                        NULL|35.59559|-82.55412|        Entire condo|Entire home/apt|           4|     NULL|    NULL| 2.0| 285.00|             2|           730|                   2.0|                   2.0|                 730.0|                 730.0|                   2.0|                 730.0|            NULL|               t|             20|             49|             73|             348|              136|                   33|                     1|                4.97|                  4.96|                     4.98|                  4.9|                       4.99|                  4.99|               4.85|   NULL|             2.62|
+------------------+---------+------------+---------------+--------------------+-----------+----------------------+----------------------------+--------+---------+--------------------+---------------+------------+---------+--------+----+-------+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------+----------------+---------------+---------------+---------------+----------------+-----------------+---------------------+----------------------+--------------------+----------------------+-------------------------+---------------------+---------------------------+----------------------+-------------------+-------+-----------------+

# Insert into Database
> property_df to PostgreSQL table "property"
> host_result to Postgresql table "hosts"

Connect to the database

In [98]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/airbnb'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

# Define JDBC properties
jdbc_properties = {
    "user": "postgres",
    "password": "123",  
    "driver": "org.postgresql.Driver"}